absl-py==1.4.0
arrow==1.2.3
attrs==23.1.0
buildhat==0.7.0
cffi==1.15.1
colorzero==2.0
contourpy==1.1.0
cycler==0.11.0
flatbuffers==23.5.26
fonttools==4.42.0
gpiozero==2.0.1
kiwisolver==1.4.4
matplotlib==3.8.3
mediapipe==0.10.3
numpy==1.25.2
opencv-contrib-python==4.8.0.74
opencv-python==4.9.0.80
packaging==23.1
Pillow==10.0.0
protobuf==3.20.3
pycparser==2.21
pyparsing==3.0.9
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyserial==3.5
python-dateutil==2.8.2
python-time==0.3.0
six==1.16.0
sounddevice==0.4.6
